<%if $game.current_player == $game.player_1%>
<h1>Attacked <%=$game.player_2.name%>!</h1>
<h2><%=$game.player_2.name%>: <%=$game.player_2.score%>HP</h2>
<%else%>
<h1>Attacked <%=$game.player_1.name%>!</h1>
<h2><%=$game.player_1.name%>: <%=$game.player_1.score%>HP</h2>
<%end%>

<form action='/switch-turns'>
  <input type='submit' value='Back'>
</form>
