<%if Battle.game.current_player == Battle.game.player_1%>
<h1>Attacked <%=Battle.game.player_2.name%>!</h1>
<h2><%=Battle.game.player_2.name%>: <%=Battle.game.player_2.score%>HP</h2>
<%else%>
<h1>Attacked <%=Battle.game.player_1.name%>!</h1>
<h2><%=Battle.game.player_1.name%>: <%=Battle.game.player_1.score%>HP</h2>
<%end%>

<form action='/switch-turns'>
  <input type='submit' value='Back'>
</form>
