<p><%=Battle.game.player_1.name%> vs. <%=Battle.game.player_2.name%></p>
<p><%=Battle.game.player_1.name%>: <%=Battle.game.player_1.score%>HP</p>
<p><%=Battle.game.player_2.name%>: <%=Battle.game.player_2.score%>HP</p>


<form action="/attack">
<input type="submit" value="Attack!">
</form>
